---
import Badge from "./Badge.astro";
import { CardImage } from "./CardImage.tsx";

interface Props {
  item: Item;
}

const { item } = Astro.props;

const url = new URL(item.url);
const cleanUrl = `${url.hostname}`;
---

<article
  class="py-4 px-4 rounded-xl bg-mantle flex gap-4 items-center cursor-pointer transform hover:scale-[1.02] transition-transform duration-200 relative card"
  data-category={item.category}
>
  <a href={item.url} target="_blank" class="absolute inset-0 z-10"></a>

  <!-- <CardImage client:visible url={item.url}>
    <span
      slot="fallback"
      class="min-w-20 min-h-20 rounded-xl bg-surface-1 animate-pulse"></span>
  </CardImage> -->

  <CardImage client:visible url={item.url} />

  <div class="self-start">
    <Badge text={item.category} />

    <h2 class="text-text text-sm font-semibold mt-1">{item.title}</h2>
    <p class="text-subtext-0 text-xs text-wrap">{cleanUrl}</p>
  </div>
</article>
